{% extends 'layout.html.twig' %} 

{% block title %}Register{% endblock %}

{% block content %}

<div class="card w-75 mx-auto">
  
		<h1 class="h3 mb-3 font-weight-normal">Register</h1>
  <div class="mb-3">  {{ form_start(registrationForm) }}
       <a class="mb-3"> {{ form_row(registrationForm.nom) }}</a>
       <a class="mb-3"> {{ form_row(registrationForm.prenom) }}</a>
       
       <a class="mb-3"> {{ form_row(registrationForm.email) }}</a>
       <a class="mb-3"> {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</a>
       <a class="mb-3"> {{ form_row(registrationForm.agreeTerms) }}</a>
</div>
        <button type="submit" class="btn btn-outline-danger">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}